@font-face {
    font-family: 'questrrial' ;
    src: url(fonts/Ubuntu-Regular.ttf);
}



body, html {    
    margin:0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    overflow-x: hidden;
}

.first-container {
    width:100%;
    height:100%;
    position: absolute;
    z-index: 1000000000000;
    background-color: white;
}

#firstContainer{
    display: none;
}


.title {
    margin-left: 100px;
}


.form-container {
    position: relative;
    height: 60%;
    width: 70%;
    display: grid;
    grid-template-columns: 50% 40%;
    align-items: center;
    margin: auto;
}

.user-image {
    background-repeat: no-repeat;
    background-size: contain;
}

.user-form {
    display: flex;
    align-content: center;
}

input {
    width: 160px;
    height: 40px;
    border-style: none;
    border-radius: 5px;
    font-style:'questrrial';
}
.username-form {
    margin: 15px 0px;
    font-size: 2em;
}

.username-password{
    margin: 15px 0px;
    font-size: 1em;
    display: flex;
    flex-wrap: wrap;
}

.checkbox {
    margin: 30px;
}

.closeButton {
    position: absolute;
    top: 70%;
    right: 30%;
    font-size: 2em;
}




li, a, button {
    font-family: 'questrrial';
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
    
}



header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background-color: #132540;
}


.logo {
    cursor: pointer;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: #0088a9;
}
#language-select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #f8f8f8;
    color: #333;
  }
button{
    padding: 9px 25px;
    background-color: rgba(0,136,139,1);
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,139,0.8);
}


.front-page{
    position: relative;
    height:100%;
    filter: opacity(80%);
    background-image: url('images/nurse.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.top-container {
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    margin: auto;
    width: 35%;
    height: 100%;
    justify-items: center;
    flex-direction: column;
    justify-content: center;
}

.first-heading, .fa-heart {
    color: #99D9D9;
    font-size: 65px;
    font-family: 'questrrial';
}

.first-subtext {
    color: #132540;
    word-spacing: 0.8px;
    font-size: 20px;
    position: relative;
    display: flex;
    text-align: center;
    margin-bottom: 25px;
}

.learn-more {
    position: relative;
    display: block;
    width: 25%;
    text-align: center;
    margin: 0px auto;
    padding: 10px;
    background-color: #51B6B6;
    border-radius: 5px;
    font-family: 'questrrial';
    color: #f2f2f2;
    transition: 0.8s all;
    cursor: pointer;
}

.learn-more:hover {
    background-color: #18aeae;
    transition: 0.8s all;
}


.middle-page {
    position: relative;
    background-color:#F4F1EC;
    width:100%;
    height:100%;
}

.middle-container {
    display: grid;
    grid-template-columns: 65% 35%;
    width: 100%;
    height: 100%;

}

